<footer id="footer">
  <p class="small">{{ site.time | date: '%Y' }} - Made with ❤ by {{ site.author }}</p>

  <div class="social-font">
  <ul class="social-ul">
  <li class="social-li"><a href="https://github.com/gtahp" target="_blank" class="fa fa-github" title="github"></a></li>
  <li class="social-li"><a href="https://www.facebook.com/handres.povidaiko" target="_blank" class="fa fa-facebook" title="facebook"></a></li>
  <li class="social-li"><a href="https://www.twitter.com/gta_hp" target="_blank" class="fa fa-twitter" title="twitter"></a></li>
  <li class="social-li"><a href="https://www.linkedin.com/in/handrespovidaiko" target="_blank" class="fa fa-linkedin" title="linkedin"></a></li>
  <li class="social-li"><a href="mailto:handrespovidaiko@gmail.com" target="_blank" class="fa fa-envelope" title="Email Me"></a></li>
  </ul>
  </div>
</footer>