<footer id="footer">
    <p class="small">{{ site.time | date: '%Y' }} - Made with &lt;3 by {{ site.author }}</p>

  <div class="social-font">
    <a href="https://github.com/gtahp" target="_blank" class="fa fa-github" title="github"></a>
    <a href="https://www.facebook.com/handres.povidaiko" target="_blank" class="fa fa-facebook" title="facebook"></a>
    <a href="https://www.twitter.com/gta_hp" target="_blank" class="fa fa-twitter" title="twitter"></a>
    <a href="https://www.linkedin.com/in/handrespovidaiko" target="_blank" class="fa fa-linkedin" title="linkedin"></a>
    <a href="mailto:handrespovidaiko@gmail.com" target="_blank" class="fa fa-envelope" title="Email Me"></a>
  </div>
</footer>